@media only screen and (max-width:768px){
  .sticky{
    padding:0% 5%;
    top:10px;
  }
}
@media only screen and (max-width:425px){
  .title-text{
    margin-left: 25%;
    width:80%;
  }
   .content-1 div.circle{
    margin-left:35%;
  }
  .sticky{
    padding:2% 5%;
    top:20px;
  }
}
@media only screen and (max-width:320px){
  div.site-title h2{
    font-size:1.9em;
  }
  p.title-text{
    margin-left:20%;
    width:100%;
  }
  .btn-sub2{
    display: none;
  }
  .btn-sub1{
    padding-top:50px;
  }
}